body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111111;
  background-color: #fafafa;
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.29;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-primary {
  background-color: #fd9222;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fd9222;
  background: rgba(253, 146, 34, 0.1);
}
.btn-secondary {
  border-color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #fd9222;
}

/* Техніка приховування логічних заголовків */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 60px 0;
}
.section-title {
  width: 412px;
  margin: 0 auto 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  /* outline: 2px solid lightseagreen; */
}
.accent-text {
  color: #fd9222;
}

/* Container settings */
.container {
  /* max-width: 1168px; */
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  /* outline: 2px solid red; */
}
