.ingredients {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-ill {
}
.ingredients-name {
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
