/* Common styles */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111111;
  background-color: #fafafa;
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.29;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-primary {
  background-color: #fd9222;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fd9222;
  background: rgba(253, 146, 34, 0.1);
}
.btn-secondary {
  border-color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #fd9222;
}

/* Техніка приховування логічних заголовків */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 60px 0;
}
.section-title {
  width: 412px;
  margin: 0 auto 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent-text {
  color: #fd9222;
}

/* Container settings */
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  /* outline: 2px solid red; */
}

/* Header styles */
.header {
  padding: 24px;
}
.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
}
.logo-icon {
}
.nav {
  margin-left: auto;
  margin-right: 122px;
}
.nav-list {
  display: flex;
  gap: 24px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 11px 0;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}

/* Hero styles */
.hero {
  padding-bottom: 80px;
}
.hero-wrapper {
  border-radius: 30px;
  padding: 380px 40px 40px;
  background: rgba(17, 17, 17, 0.4);
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-controls {
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;

  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
}
.hero-link-icon {
}

/* Benefits styles */
.benefits {
  padding: 50px 0px;
  background: #1e1823;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
}
.benefits-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* Ingredients styles */
.ingredients {
  padding-top: 120px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  /* width: 260px; */
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 24px;
  border: 1px solid;
  border-radius: 15px;
}
.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingredients-item:nth-child(4n + 1) {
  border-color: #fd9222;
  background-color: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  border-color: #1e1823;
  color: #fff;
}
.ingredients-ill {
  margin-bottom: 36px;
}
.ingredients-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* Made styles */
.made {
}
.made-wrapper {
  display: flex;
  justify-content: space-between;
}
.made-left-side {
  width: 600px;
  border-radius: 16px;
  overflow: hidden;
}
.made-right-side {
  width: 516px;
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-caption {
  width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Products styles */
.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}
.products-item {
  width: 270px;
  padding: 32px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 16px;
  background: #fff;
}
.products-ill {
  margin-bottom: 8px;
}
.products-name {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.products-price {
  width: 96px;
  padding: 8px;
  margin: 0 auto;

  font-weight: 600;
  line-height: 1.29;
  text-align: center;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background: #fafafa;
}

/* Bestsellers styles */
.bestsellers {
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  width: 368px;
}
.bestsellers-item-top {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}
.bestsellers-item-bottom {
  padding: 28px;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
}
.bestsellers-ill {
}
.bestsellers-descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}

/* Reviews styles */
.reviews {
  padding-bottom: 120px;
}
.reviews .section-title {
  margin-bottom: 90px;
}
.reviews-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 90px;
}
.reviews-item {
  width: 360px;
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 16px;
  background: #fff;
}
.reviews-avatar {
  margin: -96px auto 16px;
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.btn-dark {
  display: block;
  margin: 0 auto;
}

/* Footer styles */
.footer {
  padding: 50px 0px;
  background: #1e1823;
}
.footer-top {
  display: flex;

  padding-bottom: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.footer-wrapper {
  margin-left: auto;
  margin-right: 90px;
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}
.socials {
}
.socials-item {
}
.footer .socials-link {
  background-color: #fff;
}
.socials-icon {
}
.footer-contacts {
}
.footer-contacts-list {
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-contacts-link {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #fd9222;
}
.footer-bottom {
  padding-top: 24px;
}
.footer-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding: 11px 0;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
