.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 16px;
  margin-bottom: 32px;
}
.products-card {
  display: flex;
  flex-direction: column;
}
.products-ill {
  margin-bottom: 16px;
  border-radius: 8px;
}
.products-wrapper {
  flex-grow: 1;
  margin-bottom: 16px;
}
.products-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}
.products-variants {
  display: grid;
  grid-template-columns: 24px 24px 24px;
  gap: 16px;
  margin-bottom: 8px;
}
.products-variants-item {
  height: 24px;
  background-color: #c7c3bb;
  border-radius: 50%;
}
.products-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #080c09;
}

.products-card .btn-secondary {
  width: 100%;
}
