<section class="furniture section">
  <div class="container">
    <h2 class="section-title">Наші меблі</h2>
    <p class="furniture-slogan">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>

    <ul class="furniture-categories js-categories"></ul>

    <ul class="products-list js-products-list">
      <li class="products-card">
        <img class="products-ill" src="" alt="" />
        <h3 class="products-title">Софа Oslo</h3>
        <ul class="products-variants">
          <li class="products-variants-item"></li>
          <li class="products-variants-item"></li>
          <li class="products-variants-item"></li>
        </ul>
        <p class="products-price">9 999 грн</p>
        <button class="btn btn-secondary" type="button">Детальніше</button>
      </li>
    </ul>

    <load
      src="/partials/button.html"
      clasess="btn btn-primary js-load-more hidden"
      content="Показати ще"
      type="button"
    />
  </div>
</section>
