<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <img src="/icons/logo.svg" alt="" width="163" height="70" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#">Наші меблі </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Часті питання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Відгуки</a>
        </li>
      </ul>
    </nav>

    <load
      src="/partials/button.html"
      clasess="btn btn-primary"
      type="button"
      content="До покупок"
    />
  </div>
</header>
