.bestsellers {
}
.bestsellers-list {
}
.bestsellers-item {
}
.bestsellers-ill {
}
.bestsellers-descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}
